# ESP-IDF
build/
sdkconfig
sdkconfig.old

# Componente externo de micro-ROS

# ROS 2
install/
log/
__pycache__/
*.pyc

# Editor
.vscode/

# ROS 2 workspace
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
# Historiales de prueba (encoder/potenciometro)
percepcion_ros2/historial_*.csv
